.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}
.root-child {
  max-width: 430px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 1000px;
  max-width: 430px;
  margin: auto;
  border-radius: 20px;
  background-color: #76afdd;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 32px;
  backface-visibility: hidden;
  transform: translate3d(0px, 0px, 0px);
  overflow: hidden;
}
.footer-child {
  font-family: cursive;
  color: #895e5e;
  font-size: 15px;
  line-height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  text-transform: none;
  font-weight: 600;
}
.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.DardBoard {
  margin: auto;
}

.frame-common {
  height: '100vh';
  margin: '24px';
  border-radius: '20px';
  background-color: '#e1bec3';
  display: 'flex';
  flex-direction: 'column';
  overflow: 'hidden';
  max-width: '430px';
}
.footer-nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  color: rgb(16 14 14 / 75%);
}
