.title {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 48px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px 12px;
    padding: 0px 16px;
    -webkit-box-pack: justify;
    -webkit-box-align: center;
}
.header-left {
    color: white;
    font-family: sans-serif;
    font-size: 21px;
    line-height: 24px;
}

.header-right {
    display: flex;
    align-items: center;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    line-height: 17px;
    background: none;
    border: none;
    cursor: pointer;
    -webkit-box-align: center;
}
.topic-continue {
    position: relative;
    padding: 24px 16px 16px 32px;
    background: rgb(99, 97, 233);
    border-radius: 20px; 
}
.topic-continue-point {
    display: flex;
    flex-direction: column;
}
.topic-continue-point-bottom {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 4px 0px 7px;
}
.sidebar {
    width: 104px;
    height: 8px;
    margin: 0px 8px 0px 0px;
    background-color: rgba(0, 0, 0, 0.3);
}
.star {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: -2px 0px 0px;
}
.title-small {
    display: block;
    font-size: 15px;
    line-height: 17px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}
.title-big {
    display: block;
    margin: 4px 0px;
    font-family: NexaText-ExtraBold, sans-serif;
    font-size: 25px;
    line-height: 28px;
    color: white;
    word-break: break-word;
    font-weight: bold;
}
.sidebar-point {
    height: 100%;
    width: 15%;
    background: linear-gradient(rgb(93, 214, 97) 0%, rgb(76, 187, 79) 100%);
    transform: none;
    border-radius: 100px 0px 0px 100px;
    transition: width 0.2s ease-in-out 0s;
    will-change: width;
}
.continue-button {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 16px;
}
.button-child {
    width: 200px;
    height: min(8.2vh, 52px);
    flex-shrink: 0;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: min(2.6vh, 17px);
    font-weight: bold;
    line-height: min(3vh, 20px);
    border-radius: 24px;
    transition: all 0.2s ease 0s, background 0s ease 0s;
    border: none;
    cursor: pointer;
    background: linear-gradient(rgb(255, 235, 57) 0%, rgb(255, 223, 57) 100%);
    box-shadow: rgb(242 153 74) 0px 4px 0px;
    transform: none;
}
.button-word {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -webkit-box-align: unset;
    align-items: unset;
    text-align: unset;
    height: 136px;
    width: 158px;
    max-width: 158px;
    min-width: unset;
    padding: 19px 12px 16px 16px;
    border: none;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 20%) 0px 4px 0px;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}
.button-top {
    color: rgb(0, 0, 0);
    padding: 0px;
    margin: 0px;
    text-transform: none;
}
.button-bottom {
    display: flex;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: auto;
}
.button-top-top {
    max-height: 40px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: NexaText-ExtraBold, sans-serif;
    font-size: 17px;
    line-height: 20px;
    margin: 0px 0px 0px;
    font-weight: bold;
}
.button-top-bottom {
    color: rgb(101, 92, 205);
    font-family: cursive;
    font-size: 15px;
    line-height: 17px;
}
.button-see-all {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: white;
    font-family: cursive;
    font-size: 15px;
    line-height: 17px;
    background: none;
    border: none;
    cursor: pointer;
}
.header-item {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    max-height: 50px;
}
.total {
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    overflow: hidden auto;
}
.button-return {
    border-radius: 50%;
    box-shadow: 'rgb(0 0 0 / 15%) 0px 4px 32px';
}
.item-left {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}
.item-left-1 {
    display: flex;
    margin: 0px 16px 0px 0px;
    cursor: pointer;
    transform: none;
}
.item-left-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.item-right {
    width: 28px;
    height: 28px;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.level {
    display: block;
    color: rgba(0, 0, 0, 0.3);
    font-size: 17px;
    line-height: 10px;
}
.translate {
    font-size: 12px;
    line-height: 13px;
    color: rgba(0, 0, 0, 0.3);
}
progress::-moz-progress-bar { background: rgb(22, 212, 70); }
progress::-webkit-progress-value { background: rgb(22, 212, 70); }
progress { color: rgb(22, 212, 70); }